/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 66px 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 146, 146);
    color: beige;
}
.h-primary{
    font-size: 2.9rem;
    padding: 2px;
    margin: 4px;
}
#home p{
    font-size: 1.3rem;
    margin: 2px;
}
#home h1{
    text-align: center;
    color: white;
}
.school{
    font-size: 2.8rem;
    background-color: black;
    height: 118px;
    color: white;
}
 .p{
    font-size: 1.2rem;
     margin: 2px;
     height: 16px;
 }
 .br{
    height: 5rem;

 }
 .menu {
    height: 13.7rem;

}

.menu .item a {
    text-decoration: none;
    color: white;

}
  /* secondary*/
  .h-secondary{
    text-align: center;
  }
  .boox{
   margin: 34px;
   display: flex;
  }
  #boox.box{
  border: 2px solid darkred;
  }
 .mm{
    font-size: 2rem;
    margin: 0;
 }
.u{
font-size: 1.6rem;
color: white;
background-color: red;
border-radius: 1.6rem;                
  margin: 8px;
   
}
.u :hover{
    background-color:blue;
    cursor: pointer;
   
}
.brand-logo {
    width: 2100px;   /* yahan number barhao (250px, 300px, 400px) */
    height: 100px;   /* image distort nahi hogi */

}
.logo-img {
    width: 1900px;
    height: 200px;
    margin-top: -110.7px;   /* upar le jane ke liye */
    display: block;
}



